HostKey /etc/devbox/ssh/ssh_host_ed25519_key
UsePAM no
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
AllowUsers dev
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding no
PermitTunnel no
AllowAgentForwarding yes
ClientAliveInterval 60
ClientAliveCountMax 3
PidFile /run/sshd.pid
Subsystem sftp internal-sftp

